!!! 5
html
  head
    title= title
    != stylesheetLinkTag('bootstrap', 'application', 'bootstrap-responsive')
    script(src="/socket.io/socket.io.js")
    != javascriptIncludeTag('https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 'rails', 'application')
    != csrfMetaTag()
    script
      var socket = io.connect('http://localhost');
      socket.on('photo', function (photo) {
        console.log(photo)
        $photo = $("<img>")
        $photo.prop("src", photo)
        $(".photos").append($photo)
      });
  body
    .container
      h1.center
        <a href="http://www.hrtechconference.com/">#HRTech</a> Live Stream

      != body

      hr
      footer
        p.
          Shared with love from <a href="https://onboarder.co">Onboarder</a>
        p!= 'This website is not affiliated with <a href="http://www.hrtechconference.com/">#hrtech</a>.'
  != contentFor('javascripts')
